
.course {
    
    .title {
	
	margin-bottom: 2rem;
	
	h1 {
	    
	}
    }
    
    .image {
	margin-bottom: 2rem;
	
    }
    
    .description {
	margin-bottom: 4rem;
    }
    
    .objectives {
	
	.objective {
	    height: 15rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
    }
    
    
    
    .sidebar {
	
	.owner {
	    .icon-container {
		width: 100px;
		height: 100px;
	    }
	}
    }
}
